.container {
  display: inline-flex;
  position: relative;
  width: 100%;
  .icon {
    font-size: 24px;
    padding: 0 20px;
    font-weight: 600;
    color: #429b83;
  }
  .header {
    font-size: 20px;
  }
  .favorites {
    position: absolute;
    top: 0;
    right: 20px;
    .textFavorites {
      font-size: 14px;
      color: #ee7474;
      font-weight: 600;
    }
  }
}
.text {
  padding: 0 20px;
  line-height: 8px;
  color: #37836f;
}
